# Dependencies
node_modules/
package-lock.json.backup

# Environment variables
.env
.env.*
!.env.example

# Temporary and upload directories
public/temp/*
!public/temp/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# IDE and Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
dist/
build/
